#hero {
  /* backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); */
  background: url("/src/assets/bg-gradient.png") no-repeat center center/cover;
}

#about {
  background: url("/about-us-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 1rem 2rem;
}

#hero .background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
