#hero {
  background: url("/bg-gradient.png") no-repeat center center/cover;
}

#events {
  background: url("/bg-gradient.png") no-repeat center center/cover;
}

#auth {
  background: url("/bg-gradient.png") no-repeat center center/cover;
}

#play-quiz {
  background: url("/image-quiz-bg.png") no-repeat center center/cover;
}

#hero .background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.glass-box {
  @apply bg-white bg-opacity-25 p-4 rounded-xl;
}
