#add-quiz{
    background: url("/blue-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#manage-quiz{
    background: url("/blue-bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}